* {
  box-sizing: border-box;
}

html {
  max-width: 500px;
}

body {
  height: 100%;
  font-family: "Futura LT";
  max-width: 400px;
}


main {
  min-height: 480px;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
}

input {
  /*margin: auto;*/
  /*border: 2px solid white;*/
  width: 100%;
  height: 100%;
  /*line-height: 100px;*/
  font-size: 18px;
  /*padding: 10px 0 10px 0;*/
  color:white;
  background-color: #305DA0;
  border-color: #305DA0;
  border: 0;
  padding: 0;
}

#arrow {
  font-size: 60px;
  padding-top: 30px;
  /*text-align: center;
  line-height: 230%;*/
}

#start-location {
  border-bottom: 1px solid white;
}

#start-location, #end-location, #start, #end {
  height: 70px;
  background-color: #305DA0;
  color: white;
  font-family: "Futura LT";
}

#start, #end {
  font-size: 24px;
}

a {
  text-decoration: none;
  decoration: none;
}
footer {
  text-align: right;
  font-size: 36px;
  padding-right: 5px;
}

.row, .column {
  /*box-sizing: border-box;*/
  height: 100%;
}

.row {
  background-color: #305DA0;
  color: white;
  overflow: auto;
}

.column {
  /*border: 1px solid white;*/
  float: left;
  text-align: center;
}

.column-1 { width: 8.333%; }
.column-2 { width: 16.66%; }
.column-3 { width: 25%; }
.column-4 { width: 33.33%; }
.column-5 { width: 41.66%; }
.column-6 { width: 50%; }
.column-7 { width: 58.33%; }
.column-8 { width: 66.66%; }
.column-9 { width: 75%; }
.column-10 { width: 83.33%; }
.column-11 { width: 91.66%; }
.column-12 { width: 100%;}

.tags{
	margin:0%;
	padding:0;
	right:24px;
	bottom:-12px;
	list-style:none;
  background-image:url("https://static.pexels.com/photos/215/road-sky-clouds-cloudy.jpg");
  background-position:center;
  background-size: cover;
  width:400px;
  height:500px;
}



.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:14px;
  margin:3%;
	}

  .tags a {
  margin-left:20px;
	padding:0 10px 0 12px;
  background: #FFFF66;
  color:#393939;
  border-color: #FFFF66;
  text-decoration:none;
  border-bottom-right-radius:4px;
  border-top-right-radius:4px;
  flex-grow: 1;
  font-size: 18px;

}

.tags a:before {
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #FFFF66 transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
}

.tags a:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;	border-radius:2px;
	background:#fff;
	box-shadow:-1px -1px 2px #004977;
}

.tags a:hover{background:#555;}
.tags a:hover:before{border-color:transparent #555 transparent transparent;}
